<html>

<head>
    <link rel="stylesheet"  href="/stylesheets/style.css">
</head>

<body>
    <form action="/animals" method="post">
        <p>Animal:</p>
        <input type="text" name="animal"></input>

        <p>Herd Size:</p>
        <input type="text" name="herd_size"></input><br>

        <input type="submit" value="Create Animal" class="button"><br>
    </form>
</body>
</html>
