<form action="/result" method="post">
    <p>Name:</p>
    <input type="text" name="name"></input><br>

    <p>Please select a location</p>
    <select name="location">
        <option value="Dallas">Dallas</option>
        <option value="San Jose">San Jose</option>
        <option value="Seattle">Seattle</option>
    </select><br>

    <p>Please select a language</p>
    <select name="language">
        <option value="Ruby">Ruby</option>
        <option value="Python">Python</option>
        <option value="JavasScript">JavaScript</option>
    </select><br>

    <p>Comment (Optional):</p>
    <textarea name="comment" rows="3" cols="20"></textarea></br>
    <input type="submit" value="Generate" class="button"><br>
</form>
