<html>
<body>
    <h2>Submitted Information:</h2>

    <p>Name: <%=result.name %> </p>
    <p>Dojo Location: <%=result.location %> </p>
    <p>Favorite Language: <%=result.language %> </p>
    <p>Comment: <%=result.comment %> </p>

    <form action="/" method="get">
        <input type="submit" value="Go Back" class="button"><br>
    </form>
</body>
</html>
