<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>


<body>
    <h2>Welcome to Quoting Dojo:</h2>

    <form action="/quotes" method="post">
        <p>Your Name:</p>
        <input type="text" name="name"></input>

        <p>Your Quote:</p>
        <input type="text" name="quote"></input><br>
        <input type="submit" value="Add My Quote" class="button"><br>
    </form>

    <form action="/quotes" method="get">
        <input type="submit" value="Skip to quotes!" class="button"><br>
    </form>

</body>
</html>
