<!DOCTYPE html>
<html>
<head>
	<title>Survey Form</title>

	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
Submitted Information:

Name: <%= user.name %><br>
Location: <%= user.dojo %><br>
Language: <%= user.lang %><br>



	 

	

</body>

</html>