<form action='/users' method='post'>
    Name: <input type='text' name='name'>
    Email: <input type='text' name='email'>
    <input type='submit' value='create user'>
</form>

<form action='/users/1' method='get'>
    <input type='submit' value='test access user'>
</form>
