<!DOCTYPE html>
<html ng-app='app'>
<head>
	<title></title>
	<script src="bower_components/angular/angular.js" charset="utf-8"></script>
	<script>
		var appModule = angular.module('app', [])
		appModule.controller('userController', function($scope){
			$scope.newUser = {}
			$scope.users = []
			$scope.addUser = function(){
				$scope.users.push($scope.newUser)
				$scope.newUser = {}
			}
			$scope.remUser = function(index){
				$scope.users.splice(index, 1)
			}
		})

	</script>
	<style>
		label{
			display: block;
		}
		td{
			padding: 0 30px;
		}
		th{
			padding: 0 30px;
		}
	</style>
</head>
<body>


	<div ng-controller='userController'>
		<form>
			<label>First Name: <input type="text" name="first" ng-model='newUser.first'></label>
			<label>Last Name: <input type="text" name="last" ng-model='newUser.last'></label>
			<label>Language: <input type="text" name="language" ng-model='newUser.language'></label>
			<input type="submit" value="Create User" ng-click='addUser()'>
		</form><br>
		<table>
			<tr><th>First Name</th><th>Last Name</th><th>Favorite Language</th><th>Action</th></tr>
			<label>Filter: <input type="text" ng-model='filter'></label>
			<tr ng-repeat='x in users | filter: filter' >
				<td>{{ x.first }}</td>
				<td>{{ x.last }}</td>
				<td>{{ x.language }}</td>
				<td><input type="submit" name="remove" ng-click='remUser($index)' value="Delete User"></td>
			</tr>

		</table>
	</div>
</body>
</html>