<!DOCTYPE html>
<html ng-app='app'>
<head>
  <title></title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="app.js">
  <script type="text/javascript" src='app.js'></script>
</head>
<body>
  <div ng-controller='productsController'>
    <fieldset>
      <legend>Products Controller</legend>
      <div ng-if='error'>{{ error }}</div>
      <form ng-submit='createProduct()'>
        <label>Product Name: <input type="text" ng-model='newProduct.name'></label>
        <label>Product Price: <input type="number" ng-model='newProduct.price'></label>
        <input type ="submit" name="add" value="Add Product">
      </form>
      <table>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
        <tr ng-repeat='x in products track by $index'>
          <td>{{ x.name }}</td>
          <td>{{ x.price }}</td>
          <td><input type="submit" ng-click='deleteProduct($index)' value="delete"></td>
        </tr>
      </table>
    </fieldset>
  </div>
</body>
</html>