<!DOCTYPE html>
<html>
	<head>
		<title>EDIT</title>
	</head>
	<body>
		<form action='/<%= animal._id %>' method='post'>
			Name:<input type="text" name="name">
			Type: <input type="text" name="type">
			Age:<input type="number" name="age">
			<input type="submit" value="Enter">
		</form>
	</body>
</html>