<div ng-controller='indexController'>
    <p>Welcome, {{user_name}} -- <a href="" ng-click="logout()">logout</a><p>
    <input type="text" ng-model = 'userFilter'>   <br>
    <table>
      <thead>
          <tr>
             <td><a href="" ng-click="sortType = 'first_name'; sortReverse = !sortReverse">First Name</a></td>
             <td><a href="" ng-click="sortType = 'last_name'; sortReverse = !sortReverse">Last Name</a></td>
             <td><a href="" ng-click="sortType = 'email'; sortReverse = !sortReverse">Email</a></td>
             <td>Show</td>
             <td>Update</td>
             <td>Delete</td>
          <tr>
      </thead>

      <tr ng-repeat = "user in users | orderBy:sortType:sortReverse | filter:userFilter">
          <td>{{user.first_name}}</td>
          <td>{{user.last_name}}</td>
          <td>{{user.email}}</td>
          <td><a href="" ng-click="show(user._id)">Show</a></td>
          <td><a href="" ng-click="edit(user._id)">Edit</a></td>
          <td><a href="" ng-click="delete(user._id)">Delete</a></td>
      </tr>
    </table>
</div>
