<!DOCTYPE html>
<html ng-app='myApp'>

<head>
  <title>Products with Factory</title>
  <script src="bower_components/angular/angular.js"></script>
  <script type="text/javascript">
    
    var myAppModule = angular.module('myApp', []);

    myAppModule.factory('ProductsFactory', 
      function (){
        
        var products = [
          { name: 'Keyboard', price: 149.99},
          { name: 'Mouse',    price: 49.99},
          { name: 'Monitor',  price: 299.99}
        ]
        
        var factory = {};

        factory.list = function(callback) {
          callback(products);
        }

        factory.create = function(product, callback) {
          products.push(product);
          callback();
        }

        factory.remove = function(product, callback) {
          products.splice(products.indexOf(product), 1);
        }

        return factory;
    });
    
    
    myAppModule.controller('ProductsController', ['$scope', 'ProductsFactory', 
      function ($scope, ProductsFactory){
      
        function getProducts() {
          ProductsFactory.list(function (data) {
            $scope.products = data;
          })
        }

        getProducts();
        
        $scope.create = function (newProduct) {
          ProductsFactory.create(newProduct, function () {
            getProducts();
            $scope.newProduct = {};
          })
        }

        $scope.remove = function (product) {
          ProductsFactory.remove(product); //, getProducts);
        }

    }]);

  </script>
</head>

<body>
  <div ng-controller='ProductsController'>
    <fieldset>
      <legend>Products Controller</legend>
      
      <label>Product Name:
      <input type="text" ng-model='newProduct.name'></label>
      <label>Product Price:
      <input type="text" ng-model='newProduct.price'></label>
      <input type="submit" value="Add Product" ng-click='create(newProduct)' />
      
      <table>
        <tr>
          <td>Name</td>
          <td>Price</td>
          <td>Actions</td>
        </tr>
        <tr ng-repeat="item in products">
          <td>{{item.name}}</td>
          <td>{{item.price}}</td>
          <td>
            <button ng-click='remove(product)'>Delete Product</button>
          </td>
        </tr>
      </table>
      
    </fieldset>

    </div>
</body>

</html>