<!DOCTYPE html>
<html>
	<head>
		<title>Quotes</title>
	</head>
	<body>
		<h2>Welcome to Quoting Dojo</h2>

		<form action='/quotes' method='post'>
			Your Name: <input type="text" name="name">
			Your Quote:<input type="text" name="quote">
			<input type="submit" value="Enter">
		</form>

		<a href="/quotes"> Skip to Quotes! </a>
	</body>
</html>