<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div class='content'>
    <form action=/user method="post">
      Your Name: <input type="text" name="name">
      Dojo Location: 
        <select name="location">
          <option value="Dallas">Dallas</option>
          <option value="Mountain View">Mountain View</option>
          <option value="Seattle">Seattle</option>
        </select>
      Favorite Language:
        <select name="language">
          <option value="Python">Python</option>
          <option value='Javascript'>Javascript</option>
          <option value='Ruby on Rails'>Ruby on Rails</option>
        </select>
      Comment (optional): <textarea name="comment" cols="15" rows="5"></textarea>
      <input type="submit" name="submit" value="Create User">
    </form>
  </div>

</body>
</html>