<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div class="content">
    <h3>Submitted Information</h3>
    <table>
      <tr>
        <td>Name:</td>
        <td> <%= user.name %> </td>
      </tr>
      <tr>
        <td>Location:</td>
        <td> <%= user.location %> </td>
      </tr>
      <tr>
        <td>Language:</td>
        <td> <%= user.language %> </td>
      </tr>
      <tr>
        <td>Comment:</td>
        <td> <%= user.comment %> </td>
      </tr>
    </table>
  </div>
</body>
</html>