<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Mongoose Dashboard</title>
</head>
<body>
	<p><%= owl.name %></p>
	<p><%= owl.species %></p>
	<p><%= owl.owner %></p>
	<a href="/<%= owl._id %>/edit">Edit Owl</a>
</body>
</html>